.field-wrapper{
	width:100%;
	margin-bottom:30px;
}

.field-wrapper.label-top label{
	display:block;
	width:100%;
	padding-bottom:5px;
}

.field-wrapper.label-left label{
	display:inline-block;
	width:auto;
	padding:0 15px 5px 0;
}

.field-wrapper .input-field{
	width:100%;
	padding:10px;
	font-size:16px;
}


.media-grid{
	box-sizing:border-box;
	background:#f9f9f9;
	box-shadow:inset 0 0 10px rgba(0,0,0,.2);
	border-radius:3px;
	border:1px solid #ccc;
}

.media-grid p{
	text-align:center;
	font-size:20px;
}

.media-grid .media-inner{
	padding:15px;
}

.media-grid .controls{
	border-top:1px solid #ccc;
	padding:10px;
}